@import '../variable.scss';

.header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $indent-64 $indent-52 0;
}

.menu__item {
  font-family: $body-font-family-odibee-sans;
  font-size: $typo-size-24;
  line-height: calc(1em + 6px);
  text-transform: uppercase;
  color: $color-white;

  &.active {
    color: $color-red;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: $color-red;
  }
}

.menu__list {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    height: 100%;
    width: 1px;
    background-color: $color-gray-dark;
  }
}

.menu__item,
.menu__list {
  margin-bottom: $indent-32;
}

.menu__item--concept {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: 'concept';
    position: absolute;
    bottom: 0;
    color: $color-gray-dark;
    font-size: $typo-size-10;
    line-height: calc(1em + 6px);
    transform: translateY(100%);
  }
}
