@import '../variable.scss';

.header__logo {
  display: flex;
  align-items: center;
  height: max-content;
}

.logo__title {
  font-family: $body-font-family-odibee-sans;
  font-size: $typo-size-40;
  line-height: calc(1em + 6px);
  margin-right: $indent-32;
}

.logo__dectiprion {
  max-width: 65px;
}

.logo__title,
.logo__dectiprion {
  color: $color-red;
}