@import '../variable.scss';

.main__content {
  align-items: center;
  min-height: 100vh;
  padding: 0 $indent-52;
}

.content__text {
  position: relative;

  &.content__text--btn {
    grid-column: 11/span 2;

    .button {
      margin-top: $indent-24;
    }
  }
  &.content__text--only {
    grid-column: 10/span 3;
  }
}

.container__contacts {
  position: relative;
  align-items: center;

  .button {
    grid-column: span 2;
  }
  .icons {
    grid-column: 4/ span 2;
    display: flex;
    justify-content: space-between;
  }
  .container__contacts__info {
    grid-column: 7/ span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #part-circle {
    position: absolute;
    left: 65%;
  }
}
