@import './variable.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  column-gap: inherit;
}

html, body {
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(#fff, 0);
  background-color: black;
}
  
ol, ul {
  list-style: none;
}

input, a, textarea {
  &:focus {
    outline: none;
  }
}

input, textarea {
  -webkit-appearance: none;

  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: currentColor;
    opacity: 1;
  }

  &:-webkit-autofill {
    background-clip: text;
    &:empty::first-line {
      // font-size: 0;
    }
  }
}

button {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

strong {
  font-weight: 700;
}

mark {
  background-color: transparent;
}

svg {
  pointer-events: none;
  overflow: visible;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

[tabindex="-1"]:focus {
  outline: 0;
}

p {
  color: $color-white;
}

a {
  text-decoration: none;
}
