// fonts-sizes
$typo-size-40: 40px;
$typo-size-24: 24px;
$typo-size-16: 16px;
$typo-size-12: 12px;
$typo-size-10: 10px;

// font-family
$body-font-family-odibee-sans: 'Odibee Sans', Helvetica, Arial, sans-serif;
$body-font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif;

// offset
$indent-64: 64px;
$indent-52: 52px;
$indent-40: 40px;
$indent-32: 32px;
$indent-24: 24px;
$indent-20: 20px;
$indent-16: 16px;

// colors
$color-red: #FF3C63;
$color-white: #fff;
$color-blue: #3C96FF;
$color-green: #00B553;
$color-gray-dark: #808183;
